{
  "env": {
    "node": true,
    "browser": true
  },
  "extends": ["eslint:recommended"],
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "h"
      }
    ]
  }
}
